div.modal-container {
	width: 100%;
	height: 100%;
	z-index: 5;
	background-color: var(--modal-container-background);
	position: fixed;
	left: 0;
	top: 0;

	display: flex;
	align-items: center;
	justify-content: center;
}

div.modal {
	z-index: 6;
	width: 90%;
	max-height: 85%;
	background-color: var(--modal-background);
	border-radius: 5px;
	padding: 0 15px;
	position: relative;
}

div.modal * { color: var(--modal-text); }

div.modal h2 { margin-top: 30px; }

div.modal p { padding: 0px 5px 15px 5px; }

div.modal .close-modal {
	width: 25px;
	height: 25px;
	position: absolute;
	right: 10px;
	top: 10px;
	color: var(--spotify-green);
}
div.modal .close-modal:hover {
	color: var(--error);
	transform: scale(1.2, 1.2);
	transition: ease-in-out;
	cursor: pointer;
}



@media only screen and (min-width: 768px) {
	div.modal {
		width: 50%;
		max-height: 75%;
	}
	div.modal h2 {
		margin-top: 19.920px;
	}
}