<div class="card">
	<div class="image">
		<a v-if="track.album.image.url"  :href="track.album.link" target="_blank" rel="noopener">
			<img :src="track.album.image.url" :alt="track.album.name + ' Cover Image'" class="cover">
		</a>
		<a v-else :href="track.album.link" target="_blank" rel="noopener">
			<div class="missing-image">
				<music-note colour="#1DB954"></music-note>
			</div>
		</a>
	</div>
	<div class="info">
		<span class="title remote" v-if="!track.locality">
			<a :href="track.link" target="_blank" rel="noopener">{{track.name}}</a>
		</span>
		<span class="title local" v-else>{{track.name}}</span>
		<br>
		<span class="subtitle" v-html="artists"></span>
	</div>
	<div class="popularity bottom left corner" v-tooltip="popularity_tooltip">{{track.popularity}}</div>
	<div class="duration bottom right corner">{{duration}}</div>
</div>