button {
	background-color: var(--button-background);
	color: var(--button-text);
	font-family: var(--fonts);
	border-radius: 50px;
	padding: 10px 20px;
	border-style: none;
	font-size: larger;
	outline: none;
}
button:hover { cursor: pointer; }


input[type=number] {
	background-color: var(--input-background);
	border-radius: var(--corner-rounding);
	font-family: var(--fonts);
	border-color: transparent;
	color: var(--input-text);
	border-style: solid;
	border-width: 2px;
	outline: none;
	padding: 15px;
	width: 100px;
}
input[type=number]:focus {
	border-color: var(--input-active-border);
}


input[type=text] {
	background-color: var(--input-background);
	border-radius: var(--corner-rounding);
	font-family: var(--fonts);
	border-color: transparent;
	color: var(--input-text);
	border-style: solid;
	border-width: 2px;
	outline: none;
	padding: 15px;
	width: 90%;
}
input[type=text]:focus {
	border-color: var(--input-active-border);
}


select {
	background-color: var(--input-background);
	border-radius: var(--corner-rounding);
	border-color: transparent;
	font-family: var(--fonts);
	color: var(--input-text);
	border-style: solid;
	border-width: 2px;
	outline: none;
	padding: 15px;
	border: none;
	margin: 10px;
}
select:hover { cursor: pointer; }
select:active, select:focus {
	border-color: var(--input-active-border);
}


textarea {
	background-color: var(--textarea-background);
	border-radius: var(--corner-rounding);
	color: var(--textarea-text-colour);
	border-color: transparent;
	border-style: solid;
	font-weight: bolder;
	border-width: 2px;
	outline: none;
	padding: 5px;
	width: 90%;
}
textarea:focus {
	border-color: var(--textarea-border-colour);
}